@import url("https://fonts.cdnfonts.com/css/berlin-sans-fb-demi");

* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
  font-family: "Berlin Sans FB Demi", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.banner {
  background-image: linear-gradient(to right, #4700d8, #6a236f);
  width: 100vw;
  height: 75vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 95%);
  position: relative;
}

.header-box {
  text-align: center;
  position: absolute;
  color: white;
  font-size: 3rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title {
  padding: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.btn-pokemon,
.btn-pokemon:link,
.btn-pokemon:visited {
  color: #707070;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 5rem;
  background-color: #eee812;
  box-shadow: 0.7rem 1rem 2rem 0.1rem rgba(0, 0, 0, 0.492);
  transition: all 0.4s ease;
}

.btn-pokemon:hover {
  transform: translateY(-3px);
  box-shadow: 1rem 2rem 2rem 0.1rem rgba(0, 0, 0, 0.492);
}
.btn-pokemon:active {
  transform: translateY(2px);
  box-shadow: 0.5rem 0.5rem 2rem 0.1rem rgba(0, 0, 0, 0.492);
}

.main {
  z-index: -1;
  background-image: linear-gradient(to right, #efe812, #ff8000);
  width: 100vw;
  height: 80vh;
  margin-top: -20vh;
}

.main-pokemon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.pokemon,
.pokemon:link,
.pokemon:visited,
:visited {
  border: 0.2rem solid #6a236f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  height: 10rem;
  width: 100%;
  border-radius: 2rem;
  cursor: pointer;
}

.pokemon:hover {
  animation: shake 0.2s infinite alternate-reverse ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }

  .main-pokemon {
    top: 60%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(93, 92, 92, 0.834);
  backdrop-filter: blur(2rem);
  z-index: 2;
}

.popup-box-top {
  border: 0.3rem solid #6a236f;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  position: fixed;
  background-color: whitesmoke;
  box-shadow: 0.5rem 1rem 3rem 0.1rem rgba(0, 0, 0, 0.492);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.popup-content {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup-title-big {
  text-align: center;
}
.popup-button,
.popup-button:link,
.popup-button:visited {
  cursor: pointer;
  font-size: 3rem;
  color: whitesmoke;
  letter-spacing: 2px;
  background-color: #ff3e3e;
  text-transform: uppercase;
  border-radius: 1rem;
  display: inline-block;
  text-align: center;
  margin: 2rem;
  padding: 0.5rem;
  box-shadow: 0.5rem 0.5rem 2rem 0.1rem rgba(0, 0, 0, 0.492);
  transition: all 0.4s ease;
}
.popup-button:hover {
  transform: translateY(-2px);
  box-shadow: 1rem 2rem 2rem 0.1rem rgba(0, 0, 0, 0.492);
}
.popup-button:active {
  transform: translateY(2px);
  box-shadow: 0.5rem 0.5rem 2rem 0.1rem rgba(0, 0, 0, 0.492);
}
